language: php
sudo: false

php:
  - 7.2
  - 7.1
  - 7.0

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction
  - chmod +x prepare-tests.sh
  - ./prepare-tests.sh

script: composer run tests
