language: php
sudo: false

php:
  - 7.2
  - 7.1
  - 7.0

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction
  - [[ ${TRAVIS_PHP_VERSION:0:3} == '7.0' ]] && sed -i -e 's/CSV_ParserTest_7_1/CSV_ParserTest_7_0/g' $(pwd)/test/CSV_ParserTest.php

script: phpunit
